<!-- Album Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Itunes Albums!</h2>
          <h3 class="text-white mt-0" *ngIf="albumInfo">You selected: {{ albumInfo.collectionName }}</h3>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">List of all the albums!</p>
          <!-- <p class="text-white-50 mb-4">You selected: {{ albumHeadingInfo.collectionName }}</p> -->
        </div>
      </div>
    </div>
  </section>

<app-album-list (albumInfo)="fetchAlbumInfo($event)"></app-album-list>
