  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">All Songs</h2>
      <hr class="divider my-4">
      
      <div class="row" *ngIf="songs">       
        
        <div class="col-lg-3 col-md-6 text-center" *ngFor="let song of songs.results">
            
            <div class="mt-5">
                <div class="mb-4" *ngIf="song.artworkUrl100">
                  <a (click)="info(song)">
                    <img class="media-object" [src]="song.artworkUrl100" alt="...">
                  </a>
                </div>
              </div>
              <h3 class="h4 mb-2"><a (click)="info(song)">{{ song.collectionName }}</a></h3>
              <p class="text-muted mb-0">{{ song.artistName }} <span class="float-right">{{ song.trackPrice }}{{ song.currency }}</span></p>
            </div>
      
      </div>
    </div>
  </section>
