<!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="media-left" *ngIf="song.artworkUrl100">
            <a href="#">
              <img class="media-object" [src]="song.artworkUrl100" alt="...">
            </a>
          </div>
          <h2 class="text-white mt-0">{{ song.collectionName }} : {{ song.artistName }}</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Genre: {{ song.primaryGenreName }} <br />
                  {{ song.trackPrice }}{{ song.currency }}<br/>
                  Releasing on {{ song.releaseDate | date }}
                  </p>
        </div>
      </div>
    </div>
  </section>
