<!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Albums</h2>
      <hr class="divider my-4">
      <div class="row" *ngIf="albums">
       
        <div class="col-lg-3 col-md-6 text-center" *ngFor="let album of albums.results">
          <div class="mt-5">
            <div class="mb-4" *ngIf="album.artworkUrl100">
            	<a (click)="passAlbumInfoToParent(album)" alt="link">
            	<img [src]="album.artworkUrl100" alt="no image">
            	</a>
            </div>
            <h3 class="h4 mb-2"><a (click)="passAlbumInfoToParent(album)" alt="link">{{ album.collectionName }}</a></h3>
            <p class="text-muted mb-0"><a (click)="passAlbumInfoToParent(album)" alt="link">{{ album.artistName }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>